/* Game Setings */

.game-settings {
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;

    height: 100dvh;
    width: 100dvw;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    overflow: hidden;

    font-family: var(--roboto-font);
    font-weight: 400;
}
.game-settings .window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

    background-color: var(--bg-light-beige);
    padding: 1.5rem;
    border-radius: 15px;
    min-width: 375px;
}
.game-settings > .settings-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    padding: 1rem;
    background-color: var(--bg-light-beige);
    box-shadow: var(--pause-box-shadow);

    max-width: 375px;
}
.game-setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}
.game-setting label {
    font-size: var(--text-md);
}
.input-mode-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.highlight-colors {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.color-checkbox {
    border-radius: 50%;
    
    height: 5vh;
    width: 5vh;

    cursor: pointer;

    transition: all 200ms ease-in-out;
}
.color-checkbox.blue {
    background-color: var(--tcolor-blue);
}
.color-checkbox.pink {
    background-color: var(--tcolor-error);
}
.color-checkbox.green {
    background-color: var(--tcolor-success);
}
.color-checkbox.yellow {
    background-color: var(--tcolor-warning);
}
.color-checkbox.black {
    background-color: var(--tcolor-black);
}
.color-checkbox.blue.selected {
    background-color: var(--color-blue);
}
.color-checkbox.pink.selected {
    background-color: var(--color-error);
}
.color-checkbox.green.selected {
    background-color: var(--color-success);
}
.color-checkbox.yellow.selected {
    background-color: var(--color-warning);
}
.color-checkbox.black.selected {
    background-color: var(--color-black);
}
.checkbox-hidden {
    display: none;
}

.settings-button.blue {
    background-color: var(--tcolor-blue);
}
.settings-button.pink {
    background-color: var(--tcolor-error);
}
.settings-button.green {
    background-color: var(--tcolor-success);
}
.settings-button.yellow {
    background-color: var(--tcolor-warning);
}
.settings-button.black {
    background-color: var(--tcolor-black);
}
.settings-button.blue:hover {
    background-color: var(--color-blue);
}
.settings-button.pink:hover {
    background-color: var(--color-error);
}
.settings-button.green:hover {
    background-color: var(--color-success);
}
.settings-button.yellow:hover {
    background-color: var(--color-warning);
}
.settings-button.black:hover {
    background-color: var(--color-black);
}
.settings-button {
    color: var(--lcolor-light-beige);
    padding: 0.75rem 1rem;
    border-radius: 10px;
    font-size: var(--text-md);
    font-weight: 600;

    transition: ease 0.2s;   
}

/* VS console */

.vs-console {
    width: 100dvw;
    height: 100dvh;
    z-index: 8;
    
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    overflow: hidden;

    font-family: var(--roboto-font);
}

.vs-console .window {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50% , -50%);
    
    background-color: var(--bg-light-beige);
    box-shadow: var(--pause-box-shadow);
    
    min-width: 375px;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem
}

.conexion-error-title {
    color:  var(--lcolor-error)
}

.settings-window {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem
}

#pre-room {
    background-color: unset;
    padding: unset;
}

.current-players {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.current-players > h2 {
    font-size: var(--text-ml);
}
.players-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;

    max-height: 6rem;
    overflow-y: auto;

    background-color: var(--bg-light-beige);
    padding: 0.75rem;
    border-radius: 5px;
    box-shadow: inset rgba(0, 0, 0, 0.25) 0 0 5px 0;
}
.player-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    width: 100%;
}
.player-info:nth-child(1) {
    font-size: var(--text-sm);
}
.host-medal {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--bcolor-informative);
    font-size: var(--text-sm);
    padding: 0.15rem 0.75rem;
    border-radius: 10px;
}

.pre-room-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: 100%;
    padding: 1.5rem;
    border-radius: 15px;

    background-color: var(--bg-light-beige);
}

.pre-room-actions button {
    background-color: var(--bcolor-informative);
    padding: 1rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: var(--text-md);

    color: var(--lcolor-light-beige);
}

.room-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;

    width: 75%;
}
.room-actions button {
    background-color: var(--tbcolor-informative);
    padding: 0.75rem 1rem;
    border-radius: 10px;
    font-weight: 600;
    transition: ease 0.2s;
    color: var(--lcolor-light-beige);
}
.room-actions button:hover {
    background-color: var(--bcolor-informative);
}
.room-actions button:disabled {
    background-color: gray;
    cursor: unset;
    color: gray;
}
.room-actions .continue {
    background-color: var(--tbcolor-success);
}
.room-actions .continue:hover {
    background-color: var(--bcolor-success);
}
.room-actions .cancel {
    background-color: var(--tbcolor-error);
}
.room-actions .cancel:hover {
    background-color: var(--bcolor-error);
}

/* Game Over comp */

.game-over {
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    background-color: var(--tbcolor-error);
    backdrop-filter: blur(4px);

    font-family: var(--orbitron-font);
}

.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px
}

.game-over h1 {
    color: var(--lcolor-error);
    font-size: var(--text-lg);
}

.game-over button {
    height: 50px;
    width: fit-content;
    padding: 0 25px;
    border-radius: 25px;
    font-size: var(--text-ml);
    font-weight: 500;

    transition: ease-in-out 0.25s;
}

.game-over button:hover {
    box-shadow: 0 0 0 5px white;
    transition: ease-in-out 0.25s;
}

.go-btns {
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: white;
}

#retry {
    font-family: var(--orbitron-font);
}

#surrender {
    font-family: var(--orbitron-font);
    background-color: var(--bcolor-error);
}

/* Completed Comp */

.completed {
    position: absolute;
    z-index: 20;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: var(--tbackground-blue);
    font-family: var(--orbitron-font);
}

.completed h1 {
    color: var(--lcolor-dark-navy);
    font-size: var(--text-lg);
}

.completed button {
    height: 50px;
    width: fit-content;
    padding: 0 25px;
    border-radius: 25px;
    font-size: var(--text-ml);
    font-weight: 500;
    
    background-color: var(--bg-light-beige);
    font-family: var(--orbitron-font);
    transition: ease-in-out 0.25s;
}

.completed button:hover {
    box-shadow: 0 0 0 5px var(--bcolor-dark-navy);
    transition: ease-in-out 0.25s;
}

@media screen and (max-width: 768px) {
    
}