.home {
    display: flex;
    position: relative;

    font-family: var(--orbitron-font);

    height: 100dvh;
    width: 100dvw;

    background-color: var(--bg-light-beige);

    overflow: hidden;
}

h1 {
    margin: 0;
    font-size: inherit;
}

.home-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;

    z-index: 1;
}

.title-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    align-items: center;

    user-select: none;
}

.title-texts{
    display: flex;
    flex-direction: row;
    gap: 1rem;

    font-size: var(--text-3xl);

    align-items: center;
}

.home-text {
    width: 60%;
    font-size: var(--text-md);
    font-weight: 500;
}

.game-title {
    display: block;

    color: var(--lcolor-blue);
}

.game-version {
    display: block;

    color: var(--lcolor-warning);
}

.home-buttons {
    display: flex;
    flex-direction: column;

    gap: 20px;

    align-items: flex-start;

    user-select: none;
}

.home-button {
    font-family: var(--orbitron-font);
    font-size: 24px;

    padding: 0.75rem 0;
    border-radius: 1rem;

    width: 12rem;

    color: white;
    opacity: 65%;
    box-shadow: 0 0 6px 0 var(--color-black);

    transition: ease-in-out 150ms;
}

.home-button.play {
    background-color: var(--bcolor-blue);
}
.home-button.signin {
    background-color: var(--bcolor-warning);
}
.home-button.logout {
    background-color: var(--bcolor-error);
}
.home-button.signup {
    background-color: var(--bcolor-success);
}
.home-button.admin {
    background-color: var(--bcolor-warning);
}
.home-button.master-difficulty {
    background-color: var(--bcolor-black);
}

.home-button:hover{
    color: var(--lcolor-dark-navy);
    opacity: 100%;
    transition: ease-in-out 0.2s;
}

.background {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;

    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;

    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.background-h {
    display: flex;
    position: absolute;

    flex-direction: column;
    gap: 75px;

    width:695px;
    padding-top: 75px;
    padding-bottom: 75px;
}
.background-h :nth-child(3),
.background-h :nth-child(6) {
    opacity: 20%;
    height: 4px;
}

.background-v {
    display: flex;
    position: absolute;

    flex-direction: row;
    gap: 75px;

    height: 695px;
    padding-left: 75px;
    padding-right: 75px;
}
.background-v :nth-child(3),
.background-v :nth-child(6) {
    opacity: 20%;
    width: 4px;
}

.line-h {
    background: radial-gradient(circle, rgba(0 , 0 , 0 , 1) 0%, rgba(0 , 0 , 0 , 0) 100%);
    width: 100%;
    height: 2px;
    opacity: 10%;
}

.line-v {
    background: radial-gradient(circle, rgba(0 , 0 , 0 , 1) 0%, rgba(0 , 0 , 0 , 0) 100%);
    width: 2px;
    height: 100%;
    opacity: 10%;
}

/* Games Modal */

.games-modal {
    display: flex;
    position: relative;
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(6px);
    z-index: 10;

    transition: ease-in-out 0.5s;
}

.modal-button {
    background-color: var(--bcolor-blue);
    opacity: 1;
    box-shadow: unset;

    font-size: var(--text-md);
    width: 18rem;

    user-select: none;
}

.games-modal .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: transparent;
    height: fit-content;
    max-height: 75%;
    width: fit-content;
    border-radius: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    z-index: 12;
}

.games-modal .modal-auxiliar {
    height: 100vh;
    width: 100%;
    z-index: 11;
}

.saved-game-buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.saved-game {
    height: fit-content !important;
    padding: 10px 10px;
}
.saved-game-buttons .delete {
    background-color: var(--bcolor-blue);
    border-radius: 50%;

    width: 2.25rem;

    transition: all 150ms ease-in-out;
}
.delete:hover {
    background-color: var(--bcolor-error);
}

.inactive {
    display: none;
    transition: ease-in-out 0.5s;
}

@media screen and (max-width: 768px) {

    .title-container {
        flex-direction: column;
    }

    .background {
        height: 90vh;
        width: 90vh;
    }

    .background-h{
        height: inherit;
        width: inherit;
        gap: 0;
        justify-content: space-around;
        
    }
    .background-v {
        height: inherit;
        width: inherit;
        gap: 0;
        justify-content: space-around;
        
    }
    .line-h {
        height: 3px;
    }
    .line-v {
        width: 3px;
    }

    .title-container{
        gap: 1.5rem;
    }
    .title-texts {
        font-size: var(--text-4xl);
    }
    .home-text {
        font-size: var(--text-ml);
    }

    .home-buttons {
        gap: 1.5rem;
    }
    .home-button {
        padding: 1.2rem 0;
        width: 65vw;
    }

}