.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    font-family: var(--roboto-font);

    padding: 1.5rem 0;
    width: 45vw;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.login-container > h1 {
    font-size: var(--text-2xl);
    color: var(--lcolor-dark-navy);
}

.login-container button {
    background-color: var(--bcolor-blue);
    color: white;
    border: unset;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button.disabled {
    background-color: gray !important;
    color: gray !important;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 75%;
}

.login-form .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    user-select: none;
}

.label-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    border-radius: 0.5rem;
    overflow: hidden;
}
.input-container label {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--text-md);
    color: var(--lcolor-dark-navy);

    height: 2rem;
    width: 50%;

    cursor: pointer;

    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
}

.input-container .checkbox {
    display: none;

    /* height: 1.25rem;
    width: 1.25rem;

    margin: 0;
    border-radius: 25%;

    background-color: var(--bcolor-blue); */
}

.custom-input {
    position: relative;
    width: 100%;

    color: var(--lcolor-dark-navy);
}

.input-text {
    border-color: var(--color-gray);
    border-width: 0.5px;
    border-style: solid;
    border-radius: 6px;
    outline: none;

    height: 2.5rem;
    padding-inline: 15% 1rem;
    width: 100%;

    transition: all 200ms ease-in-out;
}

.input-text:focus {
    border-color: var(--color-dark-navy);
    transition: all 200ms ease-in-out;
    border-width: 2px;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.input-text:focus {
    transition: all 300ms ease-in-out;
}

.form-error {
    margin: 0;
    color: red;
}

.advertisement {
    margin: 0;
    font-size: var(--text-md);
}

@media screen and (max-width:768px) {
    .login-container {
        width: 85vw;
    }
}

/* ANIMATIONS */

.toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: var(--tbackground-blue);
  border-radius: 0.5rem;
  transition: transform 150ms ease-in-out;
  pointer-events: none;
  z-index: -1;
}

.label-container[data-active="true"] .toggle-slider {
  transform: translateX(0%);
}

.label-container[data-active="false"] .toggle-slider {
  transform: translateX(100%);
}