#root {
  /* max-width: 1280px; */
  width: 100dvw;
  /* margin: 0 auto; */
  text-align: center;
  font-size: 0.75rem;
}

.App {
  min-height: 100dvh;
  width: 100%;
  max-width: 100dvw;

  background-color: var(--bg-light-beige);

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;
}

.menu-button {
  font-family: var(--orbitron-font);
  font-size: var(--text-md);

  background-color: var(--bcolor-blue);
  color: white;
  
  width: 18rem;
  padding: 0.75rem;
  border-radius: 1rem;

  user-select: none;
  transition: all 200ms ease-in-out;
}
.menu-button:hover {
  color: var(--lcolor-dark-navy)
}