:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light; /* Dark theme pending */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Orbitron";
  src: url(../src//assets//fonts/Orbitron/Orbitron-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url(../src//assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf) format("truetype");
}

/* Z-Indexes
1 - 9: In Page
10 - 99: Navs, menus, modals, etc...
+ 100: Toasters 
 */

:root {
  --orbitron-font: "Orbitron", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --roboto-font: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;

  --pause-box-shadow: 0 0 5px 1px black;
  --profile-box-shadow: 0 8px 20px -10px var(--tcolor-black);

  /* COLORS */
  --bg-light-beige: rgb(255, 248, 240);

  --color-warning: rgb(249, 168, 37);
  --color-success: rgb(77, 182, 172);
  --color-error: rgb(236, 64, 122);
  --color-informative: rgb(38, 198, 218);
  --color-dark-navy: rgb(26, 35, 126);
  --color-gray: rgb(214, 214, 214);
  --color-blue:  rgb(30, 136, 229);
  --color-black: black;

  --bcolor-blue:  rgb(30, 136, 229);
  --bcolor-warning: rgb(249, 168, 37);
  --bcolor-success: rgb(77, 182, 172);
  --bcolor-error: rgb(236, 64, 122);
  --bcolor-informative: rgb(38, 198, 218);
  --bcolor-dark-navy: rgb(26, 35, 126);
  --bcolor-black: black;

  --tbcolor-success: rgb(77, 182, 172, 0.4);
  --tbcolor-error:  rgb(236, 64, 122, 0.5);
  --tbcolor-informative: rgb(38, 198, 218, 0.4);

  --tcolor-blue:  rgb(30, 136, 229, 0.25);
  --tcolor-black: rgba(0, 0, 0, 0.2);
  --tcolor-error: rgb(236, 64, 122, 0.25);
  --tcolor-success: rgb(77, 182, 172, 0.25);
  --tcolor-warning: rgb(249, 168, 37, 0.25);

  --tbackground-blue: rgb(30, 136, 229, 0.75);

  --lcolor-blue:  rgb(30, 136, 229);
  --lcolor-warning: rgb(249, 168, 37);
  --lcolor-success: rgb(77, 182, 172);
  --lcolor-error: rgb(236, 64, 122);
  --lcolor-dark-navy: rgb(26, 35, 126);
  --lcolor-light-beige: rgb(255, 248, 240);
  --lcolor-dark-gray: gray;

  /* FONT SIZES */
  --text-xs: 0.5rem;
  --text-sm: 0.75rem;
  --text-md: 1rem;
  --text-ml: 1.25rem;
  --text-lg: 1.5rem;
  --text-xl: 2rem;
  --text-2xl: 2.5rem;
  --text-3xl: 3rem;
  --text-4xl: 3.5rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Handling scroll at this level */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100dvh;

  /* background-color: var(--bg-light-beige); */
}

h1 {
  font-size: unset;
  line-height: 1.1;
}
h2 {
  margin: unset;
  font-size: unset;
}
h3 {
  margin: unset;
}
h4 {
  margin: unset;
}
h5 {
  margin: unset;
}

button {
  margin: 0;
  padding: 0;
  letter-spacing: unset;
  font-size: inherit;
  line-height: 100%;
  color: unset;
  border: unset;
  background-color: unset;
  cursor: pointer;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}
input[type=number] {
  appearance: textfield;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: unset;
  }
}

